@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: transparent;
  border-radius: 50%;
  border-color: white;
  cursor: pointer;

  &__logo {
    height: 350px;
    width: 350px;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }

}